h1{
    color: rgb(116, 147, 225);
    margin-top: 40px;
}

#main_div{
    /*border: solid 1px white;*/
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /*justify-content: center;*/
}
.count_changer{
    height: 40px;
    border-radius: 15px;
    background-color: #22b222;
    border: none;
    color: #0c0b0b;
    width: 190px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.count_num_para{
    color: white;
    font-size: 20px;
}
#count_num{
    font-weight: bold;
}